<footer class="footer">


    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="/Forum">Forum</a></li>
                    <li><a href="/AnnouncmentBoard">Announcment Board</a></li>
                    <li><a href="/consultatioPg1">C</a></li>
                    <li><a href="/About Us">About Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Join Us</h4>
                <ul>
                    <li><a href="/signup">Become a Member</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>



        </div>
    </div>
</footer>
