<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static',filename='images/NYP.jpg') }}" alt="" style="width:100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">

            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if forumactive %}
                    <a class="nav-link active" href="/Post">Forum</a>
                    {% else %}
                    <a class="nav-link" href="/Post">Forum</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if consultactive %}
                    <a class="nav-link active" href="/consultatioPg1">Announcment Board</a>
                    {% else %}
                    <a class="nav-link" href="/consultatioPg1">Announcment Board</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if contactactive %}
                    <a class="nav-link active" href="/about">About us </a>
                    {% else %}
                    <a class="nav-link" href="/about">About Us</a>
                    {% endif %}
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown main-nav-icons">
                    <a class="nav-link text-black dropdown-toggle" href="#" data-bs-toggle="dropdown"><img style="width:30px;height:30px;border-radius: 10px;" src="static/uploads/{{ current_user.pfpfilename }}" alt="pfp"> {{ current_user.username }}</a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="/user"><i class="fas fa-cogs"></i> Account Settings</a></li>
                        <li><a class="dropdown-item" style="color:red;" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item main-nav-icons"><a class="nav-link text-black" href="/cart"><i
                            class="fas fa-shopping-cart fa-lg"></i> Cart{% if "cart" in session %}<span class="badge">{{ session["cart"]|length }}</span>{% endif %}</a></li>
            </ul>
        </div>
    </div>
</nav>